@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Set box-sizing to border-box for all elements */
  font-family: "Poppins", "sans-serif"; /* Set default font family to Poppins */
}

form {
  position: relative;

}

body {
    background:#4471ef;
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Set minimum height to full viewport height */
}

.question h2 {
  text-align: center;
}
.question p {
  text-align: center;
}


/* Wrapper Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 30%; /* Set width of wrapper */
  color: #fff; /* Set text color to white */
  border-radius: 10px; /* Apply border radius */
  padding: 40px 40px; /* Add padding inside wrapper */
  background-color: blue;
  height: 60vh;
  align-items: center;
  justify-content: center;
  place-content: space-between;
}

.hero{
  text-align: center;
}
.question {
  justify-content: center;
}
.hero h1 {
  margin-bottom: 2vh;
}

.question h2 {
  margin-bottom: 4vh
}
.question .range-input {
  margin-bottom: 4vh;
}
.range-input {
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 18em;
    background:#eee;
    padding:10px 10px;
    display:flex;
    align-items:center;
    border-radius:20px;
    justify-content: space-evenly;
  }

.range-input input {
    
    -webkit-appearance:none;
    width:200px;
    height:4px;
    background:#4471ef;
    border:none;
    outline:none;
  }

.range-input input::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#eee;
    border:2px solid #4471ef;
    border-radius:50%;
  }

.range-input input::-webkit-slider-thumb:hover {
    background:#4471ef;
  }

.range-input .value {
    color:#4471ef;
    text-align:center;
    font-weight:600;
    line-height:40px;
    height:40px;
    overflow:hidden;
    margin-left:10px;
  }

.range-input .value div {
    transition:all 300ms ease-in-out;
  }

.btn {
    width: 6em; /* Set width to 100% */
    height: 45px; /* Set height of button */
    background: #fff; /* Set background color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    border-radius: 40px; /* Apply border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); /* Add box shadow */
    cursor: pointer; /* Set cursor to pointer */
    font-size: 16px; /* Set font size */
    color: #333; /* Set text color */
    font-weight: 600; /* Set font weight */
    margin-left: 40%;
    
}

