/anonymous

/apache

/cgi-bin

/contrib

/FileZillaFTP

/img

/install

/licenses

/locale

/mailoutput

/mailtodisk

/MercuryMail

/perl

/php

/phpMyAdmin

/sendmail

/src

/tmp

/tomcat

/webalizer

/webdav

/mysql/backup
/mysql/bin
/mysql/scripts
/mysql/share
/mysql/data




*.bat

*.txt

*.ini

*.exe

